.equipos-header {
  background-color: #dc3545;
<<<<<<< Updated upstream
  margin-top: 5px;
=======
<<<<<<< HEAD
=======
  margin-top: 5px;
>>>>>>> 2efe9c9ab1e0902557418eb21336df43d5f16c72
>>>>>>> Stashed changes
}

.equipos-header > h4,
h5,
h7 {
  margin-left: 60px;
}
